@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(149deg, #000000, #1a0068);
    padding: 10px;
    margin: 0;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: rgb(255, 252, 244);
    padding: 40px 30px 70px;
    border-radius: 6px;
}

/* Media Query for Mobile */
@media only screen and (max-width: 600px) {
    .todo-app {
        padding: 20px; /* Adjusted padding for smaller screens */
    }

    .row {
        flex-direction: column;
        margin-bottom: 20px;
    }

    input {
        margin-bottom: 10px; /* Added margin to separate input and button */
    }

    button {
        padding: 12px 20px; /* Adjusted button padding for smaller screens */
    }

    ul li {
        padding: 12px 8px;
    }
}



.todo-app h2{
    color: #050062;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app img{
    width: 30px;
    margin-left: 9px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #3500d4;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(media/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(media/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: #1c1c1c;
    color: #fff;
}

.footer-title {
    font-size: 15px;
    margin-bottom: 10px;
}

.copyright-text {
    font-size: 10px;
    margin-top: 10px;
    color: #ccc;
}

.footer a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
    margin: 0 4px;
}


.footer a.instagram:hover {
    color: #E4405F;
}


.footer a.github:hover {
    color: #4078c0;
}

.repository-button {
    display: inline-flex;
    align-items: center;
    padding: 6px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Courier New', monospace;
    border-radius: 4px;
    height: 24px;
}

.repository-button i {
    margin-right: 6px;
    margin-left: 6px;
}

.repository-button:hover {
    background-color: #368239;
}